/* Get rid of default styling */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Color Palette */
:root {
	--darkgray: #474b4f;
	--gray: #6b6e70;
	--lightgray: #f3f2f2;
	--something: #333333;
	--lightblue: #5ab9ea;
	--blue: #5680e9;
}

/* Default body styling with fade in animation*/
body{
	height: 100%;
	/* width: 100%; */
	background-color: #222629;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		}
}

/* Navbar */
.navbar {
    text-align: center;
	background-color: var(--something);
	padding: 30px 0 30px 0;
	width: 100%;
	/* min-width: 100vh; */
}
/* nav {
	position: relative;
	text-align: center;
}
ul {
	list-style-type: none;
	text-align: center;
}
li {
	margin: 0 30px;
	position: relative;
	display: inline-block;
} */
/* .nav-wrapper a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px;
	text-transform: uppercase;
} */
.nav-wrapper a::before,
.nav-wrapper a::after {
	content: "";
	height: 2px;
	width: 0;
	opacity: 0;
	background-color: var(--blue);
	position: absolute;
	transition: all .5s;
}

.nav-wrapper a::before {
	top: -3px;
}

.nav-wrapper a:after {
	bottom: -3px;
	right: 0;
}

.nav-wrapper a:hover::before,
.nav-wrapper a:hover::after {
	width: calc(100% + 20px);
	opacity: 0.7;
}


/* Header Portion */
.header {
	background-color: #22262971;
	height: 100vh;
}
.header h1 {
	text-align: center;
	font-size: 400%;
	color: white;
	position: relative;
	top: 2em;
}
.header h3 {
	text-align: center;
	font-size: 150%;
	color: white;
	position: relative;
	top: 5.5em;
}
.descriptive-text {
	color: white;
	text-align: center;
	position: relative;
	top: 30vh;
	animation: fadeInAnimation2 ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		}
}

/* Container for everything */
.everything {
	background-color: var(--something);
	padding: 20px;
	height: fit-content;
	color: white;
	margin-top: 28px;
	/* width: 100%; */
	/* z-index: -1; */
}

/* About Me */
/* .about_me {
	display: flex;
	justify-content: space-around; */
	/* width: 1000px; */
	/* width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
} */
/* Description about me
.me {
	vertical-align: baseline;
}
.me h2{
	text-align: center;
	margin-bottom: 20px;
}
.me p {
	font-size: 17px;
	line-height: 28px;
	width: 382px;
} */
/* Picture
.picture {
	-ms-flex-align: center;
}
.picture img {
	width: 250px;
	height: 250px;
	box-shadow: 5px 5px #6b6e7048;

} */
/* Personal info
.personal_info h2 {
	margin-bottom: 20px;
}
.personal_info h4 {
	border-bottom: 1px solid white;
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 12px;
	padding-bottom: 12px;
}
.github-link {
	display: flex;
	justify-content: space-around;
}
.github-link a {
	border: 1px solid #6b6e70;
	border-radius: 50px;
	padding: 10px;
	box-shadow: 2px 2px #6b6e7057;
	transition: background-color .3s ease-in-out;
}
.github-link a:hover {
	background-color: var(--darkgray);
}
.fa-github {
	font-size: 30px;
	color: var(--blue);
}
.fa-linkedin-in {
	font-size: 30px;
	color: var(--blue);
} */


/* Projects */
.projects-header {
	position: relative;
	text-align: center;
}
.projects-h2 {
	font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}
.projects-header::after {
	background: white;
    content: '';
    display: inline-block;
    height: 0.2em;
    max-width: 15em;
    width: 50%;
	box-sizing: inherit;
}
/* .sites_container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
} */
.sites_container img {
	width: 500px;
	height: 300px;
}
/* .project-showcase {
	margin: 10px 49px;
	width: 500px;
	text-align: center;
} */
.image_site {
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	display: block;
	width: 110px;
	height: 110px;
	line-height: 46px;
	text-decoration: none;
	text-align: center;
	border-radius: 20px;
	border: 3px solid var(--blue);
	font-size: 20px;
	font-family: arial;
	position: relative;
	overflow: hidden;
	background: transparent;
	text-transform: uppercase;
	transition: all .35s;
}
.image_site:before,
.image_site:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: var(--blue);
  z-index: 0;
  transition: all .35s;
}

.image_site:before{
  opacity: .5;
}

.image_site:after{
  transition-delay: .2s;
}

.image_site:hover{
	color: #fff;
}

.image_site:hover:before,
.image_site:hover:after{
	top: 0;
}
.project-showcase p {
	font-size: 17px;
	line-height: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.github {
	margin-top: 20px;
	text-decoration: none;
	color: white;
	font-weight: 200px;
	padding: 5px;
	border-radius: 24px;
	border: 1px solid white;
	transition: background-color .3s ease-in-out;
}
.github:hover {
	background-color: var(--blue);
	border: none;
	color: black;
}
.fa-music, .fa-gamepad, .fa-microchip, .fa-comments {
	font-size: 110px;
	color: white;
	z-index: 2;
	position: relative;
}
.goodgames, .circuitbytes, .echo, .bmw {
	max-width: 110px;
	max-height: 110px;
	z-index: 2;
	position: relative;
}


/* Skills
.skills-container {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;

}
.skills-header {
    position: relative;
	text-align: center;
}
.skills-h2 {
	font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}
.skills-header::after {
	background: white;
    content: '';
    display: inline-block;
    height: 0.2em;
    max-width: 12em;
    width: 50%;
	box-sizing: inherit;
}
.skills-icons {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	width: 100%;
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}
.skills-icons i {
	margin: 50px;
	font-size: 100px;
} */


/* Contact Me
.contact_me {
    background: 0 0;
    padding: 30px 0 80px;
}
.contact-header {
	position: relative;
	text-align: center;
}
.contact-h2 {
	font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}
.contact-header::after {
	background: white;
    content: '';
    display: inline-block;
    height: 0.2em;
    max-width: 25em;
    width: 50%;
	box-sizing: inherit;
}
.validator_form {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	background-color: #222629;
	border-radius: 20px;
	padding: 20px;
}
input[type=text], textarea {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
.other-inputs {
	width: 100%;
}
.name-email {
	width: 90%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
.fa-user {
	font-size: 20px;
	padding: 13px;
}
.fa-envelope {
	font-size: 20px;
	padding: 11px;
	margin-right: 2px;
}
.button {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
}
.submit_button {
	padding: 10px;
	border-radius: 20px;
	font-weight: 200;
	transition: background-color .3s ease-in-out;
}
.submit_button:hover {
	background-color: var(--blue);
	cursor: pointer;
}
#my-form-status {
	text-align: center;
	margin-top: 10px;
} */

/* Footer */
.footer {
	text-align: center;
	color: white;
	padding: 20px;
}
