/* ----------- iPhone X ----------- */

@media only screen
  and (min-width: 600px) {
    nav {
        position: relative;
        text-align: center;
    }
    ul {
        list-style-type: none;
        text-align: center;
    }
    li {
        margin: 0 30px;
        position: relative;
        display: inline-block;
    }
    .nav-wrapper a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        padding: 20px;
        text-transform: uppercase;
    }
}

/* Iphone X */
@media only screen
  and (max-width: 600px) {
    .nav-wrapper a {
        font-size: 13px;
        text-decoration: none;
        color: white;
        /* padding: 10px; */
        text-transform: uppercase;
    }
    nav {
        /* position: relative; */
        /* text-align: center; */
    }
    ul {
        list-style-type: none;
        /* text-align: center; */
        display: flex;
    }
    li {
        margin: 0 5px;
        /* position: relative; */
    }
}
