/* typography classes */

.center-txt{
    text-align: center;
}
.left-txt{
    text-align: left;
}
.right-txt{
    text-align: right;
}
.white-txt{
    color: #fff;
}
.uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}
/* tracking */
.letter-spacing-1{
    letter-spacing: 1px;
}
.letter-spacing-2{
    letter-spacing: 2px;
}
.letter-spacing-3{
    letter-spacing: 3px;
}
.letter-spacing-4{
    letter-spacing: 4px;
}
.letter-spacing-5{
    letter-spacing: 5px;
}
.letter-spacing-6{
    letter-spacing: 6px;
}
.letter-spacing-7{
    letter-spacing: 7px;
}
.letter-spacing-8{
    letter-spacing: 8px;
}
.letter-spacing-9{
    letter-spacing: 9px;
}
.letter-spacing-10{
    letter-spacing: 10px;
}
/* leading */
.line-height-1{
    line-height: 1em;
}
.line-height-1-1{
    line-height: 1.1em;
}
.line-height-1-2{
    line-height: 1.2em;
}
.line-height-1-3{
    line-height: 1.3em;
}
.line-height-1-4{
    line-height: 1.4em;
}
.line-height-1-5{
    line-height: 1.5em;
}
/* additional margin and padding options */
.m-6{
    margin: 4rem ;
}
.mt-6{
    margin-top: 4rem ;
}
.mb-6{
    margin-bottom: 4rem ;
}
.me-6{
    margin-right: 4rem ;
}
.ms-6{
    margin-left: 4rem ;
}
.mx-6{
    margin-left: 4rem ;
    margin-right: 4rem ;
}
.my-6{
    margin-top: 4rem ;
    margin-bottom: 4rem;
}
.m-7{
    margin: 5rem;
}
.mt-7{
    margin-top: 5rem;
}
.mb-7{
    margin-bottom: 5rem;
}
.me-7{
    margin-right: 5rem;
}
.ms-7{
    margin-left: 5rem;
}
.mx-7{
    margin-left: 5rem;
    margin-right: 5rem;
}
.my-7{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.p-6{
    padding: 4rem;
}
.pt-6{
    padding-top: 4rem;
}
.pb-6{
    padding-bottom: 4rem;
}
.pe-6{
    padding-right: 4rem;
}
.ps-6{
    padding-left: 4rem;
}
.px-6{
    padding-left: 4rem;
    padding-right: 4rem;
}
.py-6{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.p-7{
    padding: 5rem;
}
.pt-7{
    padding-top: 5rem;
}
.pb-7{
    padding-bottom: 5rem;
}
.pe-7{
    padding-right: 5rem;
}
.ps-7{
    padding-left: 5rem;
}
.px-7{
    padding-left: 5rem;
    padding-right: 5rem;
}
.py-7{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
// Position Hacks
.center-el{
    margin: auto;
}
.p-relative{
    position: relative;
}
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}
.center-el-abs{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.center-el-x-abs{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.center-el-y-abs{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@include sm-screen{
    .center-txt-sm{
        text-align: center !important;
    }
    .left-txt-sm{
        text-align: left !important;
    }
    .right-txt-sm{
        text-align: right !important;
    }
    .m-sm-6{
        margin: 4rem !important;
    }
    .mt-sm-6{
        margin-top: 4rem !important;
    }
    .mb-sm-6{
        margin-bottom: 4rem !important;
    }
    .me-sm-6{
        margin-right: 4rem !important;
    }
    .ms-sm-6{
        margin-left: 4rem !important;
    }
    .mx-sm-6{
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    .my-sm-6{
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    .m-sm-7{
        margin: 5rem !important;
    }
    .mt-sm-7{
        margin-top: 5rem !important;
    }
    .mb-sm-7{
        margin-bottom: 5rem !important;
    }
    .me-sm-7{
        margin-right: 5rem !important;
    }
    .ms-sm-7{
        margin-left: 5rem !important;
    }
    .mx-sm-7{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
    .my-sm-7{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    .p-sm-6{
        padding: 4rem !important;
    }
    .pt-sm-6{
        padding-top: 4rem !important;
    }
    .pb-sm-6{
        padding-bottom: 4rem !important;
    }
    .pe-sm-6{
        padding-right: 4rem !important;
    }
    .ps-sm-6{
        padding-left: 4rem !important;
    }
    .px-sm-6{
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    .py-sm-6{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    .p-sm-7{
        padding: 5rem !important;
    }
    .pt-sm-7{
        padding-top: 5rem !important;
    }
    .pb-sm-7{
        padding-bottom: 5rem !important;
    }
    .pe-sm-7{
        padding-right: 5rem !important;
    }
    .ps-sm-7{
        padding-left: 5rem !important;
    }
    .px-sm-7{
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .py-sm-7{
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    .center-sm-el-abs{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .center-sm-el-x-abs{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .center-sm-el-y-abs{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .p-sm-relative{
        position: relative;
    }
    .center-el-sm{
        margin: auto;
    }
}
@include md-screen{
    .center-txt-md{
        text-align: center !important;
    }
    .left-txt-md{
        text-align: left !important;
    }
    .right-txt-md{
        text-align: right !important;
    }
    .m-md-6{
        margin: 4rem !important;
    }
    .mt-md-6{
        margin-top: 4rem !important;
    }
    .mb-md-6{
        margin-bottom: 4rem !important;
    }
    .me-md-6{
        margin-right: 4rem !important;
    }
    .ms-md-6{
        margin-left: 4rem !important;
    }
    .mx-md-6{
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    .my-md-6{
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    .m-md-7{
        margin: 5rem !important;
    }
    .mt-md-7{
        margin-top: 5rem !important;
    }
    .mb-md-7{
        margin-bottom: 5rem !important;
    }
    .me-md-7{
        margin-right: 5rem !important;
    }
    .ms-md-7{
        margin-left: 5rem !important;
    }
    .mx-md-7{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
    .my-md-7{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    .p-md-6{
        padding: 4rem !important;
    }
    .pt-md-6{
        padding-top: 4rem !important;
    }
    .pb-md-6{
        padding-bottom: 4rem !important;
    }
    .pe-md-6{
        padding-right: 4rem !important;
    }
    .ps-md-6{
        padding-left: 4rem !important;
    }
    .px-md-6{
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    .py-md-6{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    .p-md-7{
        padding: 5rem !important;
    }
    .pt-md-7{
        padding-top: 5rem !important;
    }
    .pb-md-7{
        padding-bottom: 5rem !important;
    }
    .pe-md-7{
        padding-right: 5rem !important;
    }
    .ps-md-7{
        padding-left: 5rem !important;
    }
    .px-md-7{
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .py-md-7{
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    .center-md-el-abs{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .center-md-el-x-abs{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .center-md-el-y-abs{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .p-md-relative{
        position: relative;
    }
    .center-el-md{
        margin: auto;
    }
}
@include lg-screen{
    .center-txt-lg{
        text-align: center !important;
    }
    .left-txt-lg{
        text-align: left !important;
    }
    .right-txt-lg{
        text-align: right !important;
    }
    .m-lg-6{
        margin: 4rem !important;
    }
    .mt-lg-6{
        margin-top: 4rem !important;
    }
    .mb-lg-6{
        margin-bottom: 4rem !important;
    }
    .me-lg-6{
        margin-right: 4rem !important;
    }
    .ms-lg-6{
        margin-left: 4rem !important;
    }
    .mx-lg-6{
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    .my-lg-6{
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    .m-lg-7{
        margin: 5rem !important;
    }
    .mt-lg-7{
        margin-top: 5rem !important;
    }
    .mb-lg-7{
        margin-bottom: 5rem !important;
    }
    .me-lg-7{
        margin-right: 5rem !important;
    }
    .ms-lg-7{
        margin-left: 5rem !important;
    }
    .mx-lg-7{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
    .my-lg-7{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    .p-lg-6{
        padding: 4rem !important;
    }
    .pt-lg-6{
        padding-top: 4rem !important;
    }
    .pb-lg-6{
        padding-bottom: 4rem !important;
    }
    .pe-lg-6{
        padding-right: 4rem !important;
    }
    .ps-lg-6{
        padding-left: 4rem !important;
    }
    .px-lg-6{
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    .py-lg-6{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    .p-lg-7{
        padding: 5rem !important;
    }
    .pt-lg-7{
        padding-top: 5rem !important;
    }
    .pb-lg-7{
        padding-bottom: 5rem !important;
    }
    .pe-lg-7{
        padding-right: 5rem !important;
    }
    .ps-lg-7{
        padding-left: 5rem !important;
    }
    .px-lg-7{
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .py-lg-7{
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    .center-lg-el-abs{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .center-lg-el-x-abs{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .center-lg-el-y-abs{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .p-lg-relative{
        position: relative;
    }
    .center-el-lg{
        margin: auto;
    }
}
@include lg-screen{
    .center-txt-xl{
        text-align: center !important;
    }
    .left-txt-xl{
        text-align: left !important;
    }
    .right-txt-xl{
        text-align: right !important;
    }
    .m-xl-6{
        margin: 4rem !important;
    }
    .mt-xl-6{
        margin-top: 4rem !important;
    }
    .mb-xl-6{
        margin-bottom: 4rem !important;
    }
    .me-xl-6{
        margin-right: 4rem !important;
    }
    .ms-xl-6{
        margin-left: 4rem !important;
    }
    .mx-xl-6{
        margin-left: 4rem !important;
        margin-right: 4rem !important;
    }
    .my-xl-6{
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    .m-xl-7{
        margin: 5rem !important;
    }
    .mt-xl-7{
        margin-top: 5rem !important;
    }
    .mb-xl-7{
        margin-bottom: 5rem !important;
    }
    .me-xl-7{
        margin-right: 5rem !important;
    }
    .ms-xl-7{
        margin-left: 5rem !important;
    }
    .mx-xl-7{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
    .my-xl-7{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
    .p-xl-6{
        padding: 4rem !important;
    }
    .pt-xl-6{
        padding-top: 4rem !important;
    }
    .pb-xl-6{
        padding-bottom: 4rem !important;
    }
    .pe-xl-6{
        padding-right: 4rem !important;
    }
    .ps-xl-6{
        padding-left: 4rem !important;
    }
    .px-xl-6{
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
    .py-xl-6{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    .p-xl-7{
        padding: 5rem !important;
    }
    .pt-xl-7{
        padding-top: 5rem !important;
    }
    .pb-xl-7{
        padding-bottom: 5rem !important;
    }
    .pe-xl-7{
        padding-right: 5rem !important;
    }
    .ps-xl-7{
        padding-left: 5rem !important;
    }
    .px-xl-7{
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    .py-xl-7{
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    .center-xl-el-abs{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .center-xl-el-x-abs{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .center-xl-el-y-abs{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .p-xl-relative{
        position: relative;
    }
    .center-el-xl{
        margin: auto;
    }
}
