<div class="container-fluid footer">
  <div class="containerInner">
    <!-- Row 1: Guarantee, Privacy, Secure -->
    <div class="row" style="margin-bottom: 0;">
      <div class="col-md-4 text-center">
        <img
          src="//gc.grantcardone.com/hosted/images/5a/ab1a60ba7d11e6a01f7f480dc907d2/gurantee.png"
          alt="Money Back Guarantee"
          class="img-fluid"
        />
        <p class="text">Money Back Guarantee</p>
      </div>
      <div class="col-md-4 text-center">
        <img
          src="//gc.grantcardone.com/hosted/images/05/931730b0af11e684016d498f06a988/ssl.png"
          alt="Privacy Guaranteed"
          class="img-fluid"
        />
        <p class="text">Privacy Guaranteed</p>
      </div>
      <div class="col-md-4 text-center">
        <img
          src="//gc.grantcardone.com/hosted/images/42/14bec0b0af11e6bf11fdeb86468589/secure.png"
          alt="100% Secure Information"
          class="img-fluid"
        />
        <p class="text">100% Secure Information</p>
      </div>
    </div>

    <!-- Row 2: Footer Links -->
    <div class="row text-center" style="margin-bottom: 0;">
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <a
          href="https://grantcardone.com/pages/terms-of-use"
          target="_blank"
          class="text">Terms of Use</a
        >
      </div>
      <div class="col-md-2">
        <a
          href="https://grantcardone.com/pages/privacy-policy"
          target="_blank"
          class="text">Privacy Policy</a
        >
      </div>
      <div class="col-md-2">
        <a
          href="https://grantcardone.com/pages/about-us"
          target="_blank"
          class="text">About</a
        >
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<style>
  .text {
    color: rgb(47, 47, 47);
    font-size: 14px;
    text-decoration: none;
  }
  .footer {
    padding: 20px 0 90px;
    background-color: rgb(222, 222, 222);
  }

  @media (max-width: 1020px) {
    .footer {
      padding: 0 !important;
    }
  }
</style>
