---
import Logo from "../../assets/images/Grant/cardone-logo.png";

import Image from "astro/components/Image.astro";
---

<header
  class="grant_nav d-flex justify-content-around container flex-column flex-md-row gap-3"
>
  <div
    style="padding-top: 0px; padding-bottom: 0px; border-color: rgba(255, 255, 255, 0.44); background-color: rgb(255, 255, 255);"
  >
    <Image src={Logo} alt="Grant Cardone Logo" class="grant_logo" />
  </div>
  <div>
    <div
      class="font_16"
      style="text-align: center; font-size: 26px; color: rgb(71, 71, 71);"
    >
      Thank you for your order of <b>"10X Rule"</b>!
    </div>
  </div>
</header>

<style>
  .grant_nav {
    padding: 7px;
  }
  .grant_logo {
    height: 40px;
    width: 100%;
    object-fit: contain;
  }

  @media (max-width: 500px) {
  }
</style>
