---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";

interface Props {
    imagePath: string | ImageMetadata;
	text: string;
}

const { imagePath, text } = Astro.props

const imagePathAwaiting = await getImage({
    src: imagePath,
    format: "png",
    width: 200,
    height: 200,
});

---

<div class="each_point col-3 row gap-2 flex-column py-3 text-center">
	<div class="image_container">
        <picture>
            <img src={imagePathAwaiting.src} alt={text} />
        </picture>
    </div>
    <div class="content_container">
        <p class="bold">{text}</p>
    </div>
</div>

<style>
    .smaller {
        font-size: 1.2em;
    }
</style>
