html {
    scroll-behavior: smooth;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
	width: 0.30rem;
}

body::-webkit-scrollbar-track {
background: #222629;
}

body::-webkit-scrollbar-thumb {
background: white;
border: 1px solid var(--gray);
border-radius: 10px;
}
