---
import Navbar from "../components/Grant/Navbar.astro";
import Footer from "../components/Grant/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

import "bootstrap/dist/css/bootstrap.css";
import "../assets/styles/style.scss";

import "aos/dist/aos.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </head>
  <Navbar />
  <!-- Navbar -->
  <body>
    <slot />
  </body>
  <Footer />
  <!-- Footer -->

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background: white;
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    .containerInner {
      width: 1170px;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }

    .static_fit {
      object-fit: contain;
      height: 100%;
    }

    @media (max-width: 1020px) {
      .static_fit {
        width: 100%;
      }
      .font_16 {
        font-size: 16px !important;
      }
      .font_22 {
        font-size: 22px !important;
      }
      .font_18 {
        font-size: 18px !important;
      }
    }
  </style>
</html>
